@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans.woff2") format("woff2"),
         url("../fonts/PTSans.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSansBold.woff2") format("woff2"),
         url("../fonts/PTSansBold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Rubik Medium";
    src: url("../fonts/RubikMedium.woff2") format("woff2"),
         url("../fonts/RubikMedium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

header {
    background-color: transparent;
    position: absolute;
    height: 93px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

header .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

header img {
    margin-top: 14px;
}

.main-nav ul {
    padding-left: 0px;
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
}

.main-nav li {
    list-style-type: none;
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.main-nav li a, .bin-empty {
    text-decoration: none;
    color: white;
}

.bin-empty {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin-left: 222px;
    margin-bottom: 20px;
    background: url(../img/bin_empty.svg) no-repeat left top;
    background-size: 20px;
    padding-left: 28px;
    padding-top: 4px;
}

a.call {
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 20px;
    color: white;
    padding-left: 110px;
}

.main-nav ul li:first-child {
    padding-left: 7px;
}

.main-nav ul li:nth-child(2) {
    margin-left: 90px;
    margin-right: 90px;
}

/*Данный отступ с правого края почему-то не работает, хм. С левого края все ОК*/
.main-nav ul li:nth-child(3) {
    padding-right: 7px;
}

.main-nav {
    margin-left: 127px;
    border-bottom: 2px solid #f7a000;
    width: 370px;
}

section.promo {
    background-image: url(../img/background_fish.jpg);
    background-color: transparent;
    background-repeat: no-repeat;
    height: 490px;
    background-size: cover;
    padding-top: 93px;
}

.catalog-nav li {
    display: inline-block;
}

h1.promo-header {
    margin-top: 0px;
}

h1.promo-header {
    font-family: "Rubik Medium";
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
}

/*Стилизация части "промо"*/
section.promo .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.promo-info {
    color: white;
    width: 568px;
    margin-top: 100px;
}

/*Тут я не смог понять, как только одну картинку из бэкграунда повернуть, чтобы не пришлось использовать 2 капртинки кавычек... Поэтому таки 2 файла*/
blockquote {
    width: 274px;
    color: #87c4ff;
    font-family: "PT Sans";
    font-size: 16px;
    margin-top: 110px;
    line-height: 30px;
    background: 
        url(../img/quote.svg) no-repeat left top,
        url(../img/quote_reverse.svg) no-repeat right bottom; 
    padding-right: 50px;
    padding-left: 50px;
}

.promo-info p {
    font-family: "PT Sans";
    font-size: 20px;
}

/*Стилизация части с каталогом*/
.catalog-head h2 {
    font-family: "PT Sans";
    font-weight: bold;
    color: #1b4366;
    margin-top: 65px;
}

.catalog-nav ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    margin-bottom: 0;
    margin-top: 38px;
}

.catalog-nav {
    border-bottom: 1px solid #4675ad;
}


.catalog-nav a {
    font-family: "PT Sans";
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.catalog-nav .link-active {
    color: white;
}

.catalog-nav ul li:first-child {
    color: white;
    background-color: #6ea1e0;
    background-image: url(../img/fish_icon.svg);
    background-repeat: no-repeat;
    background-position: 20px 25px;
    padding: 25px 50px 23px 71px;
}

.catalog-nav ul li:nth-child(2) {
    background-image: url(../img/aquarium_icon.svg);
    background-repeat: no-repeat;
    background-position: 20px 20px;
    padding-bottom: 23px;
    padding-top: 25px;
    padding-left: 71px;
}

.catalog-nav ul li:nth-child(3) {
    background-image: url(../img/food_icon.svg);
    background-repeat: no-repeat;
    background-position: 20px 21px;
    padding-bottom: 23px;
    padding-top: 25px;
    padding-left: 71px;
}

.catalog-nav ul li:nth-child(4) {
    background-image: url(../img/equipment_icon.svg);
    background-repeat: no-repeat;
    background-position: 20px 25px;
    padding-bottom: 23px;
    padding-top: 25px;
    padding-left: 71px;
}

.catalog-nav ul li:nth-child(5) {
    background-image: url(../img/grunt_icon.svg);
    background-repeat: no-repeat;
    background-position: 20px 25px;
    padding-bottom: 23px;
    padding-top: 25px;
    padding-left: 71px;
}

section.catalog {
    background-color: white;

}

.catalog-body .container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.catalog-body a {
    text-decoration: none;
    color: #1c4366;
    margin-bottom: 109px;
}
.catalog-body h3 {
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 35px;
}

.catalog-body p {
    font-family: "PT Sans";
    font-size: 14px;
    margin-top: 0;
}

/*стилизация акций*/


section.sale {
    display: flex;
    justify-content: center;

}

div.left-sale {
    background: url(../img/jelly-sale.jpg) no-repeat;
    background-size: cover;
    flex-basis: 50%;
    position: relative;
}

div.left-sale-inner {
    width: 580px;
    height: 400px;
    border-right: 5px solid #ffb400;
    position: absolute;
    right: 0;
}

div.right-sale {
    background: url(../img/clown-sale.jpg) no-repeat;
    background-size: cover;
    flex-basis: 50%;
}

div.right-sale-inner {
    width: 580px;
    height: 400px;
    border-left: 5px solid #ffb400;
}

.right-sale h2, .right-sale p, .right-sale a {
    margin-left: 110px;
}

.sale h2 {
    color: #ffb400;
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 30px;
    margin-top: 0px;
    padding-top: 56px;
}

.sale p {
    color: white;
    font-family: "PT Sans";
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 0;
}

.sale a {
    padding: 17px;
    text-decoration: none;
    color: white;
    background-color: #226298;
    font-family: "PT Sans";
    font-size: 16px;
    display: inline-block;
}

.left-sale-inner a {
    margin-top: 50px;
}

.right-sale-inner a {
    margin-top: 73px;
}

/*Секция популярные товары*/
.popular-items h2 {
    margin-top: 0px;
    padding-top: 70px;
    color: #1c4366;
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 30px;
}

section.popular-items {
    background: url("../img/background-stripe.png");

}

.popular-items .container {
    height: 600px;
}


.popular-body {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.popular-body a {
    background-color: white;
    text-decoration: none;
    color: black;
}

.popular-body img {
    border-bottom: 1px solid grey;
    display: block;
}

.button .button-blue {
    padding: 17px 30px;
    text-decoration: none;
    color: white;
    background-color: #226298;
    font-family: "PT Sans";
    font-size: 16px;
    display: inline-block;
    margin-top: 50px;

}

.popular-items .button {
    text-align: center;
}

.popular-items h3 {
    font-family: "PT Sans";
    font-size: 20px;
    margin-top: 20px;
}

.popular-items p {
    font-family: "PT Sans";
    font-size: 16px;
    margin-top: 0px;
    color: #1c4366;
}

/*Секция "Как сделать заказ" */

section.how-to {
    border-bottom: 1px solid gray;
}

.steps-body {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
}

.how-to .container {
    height: 430px;
}

.how-to h2 {
    font-family: "PT Sans";
    color: #1c4366;
    font-weight: bold;
    font-size: 30px;
    padding-top: 70px;
    margin-bottom: 36px;
    margin-top: 0px;
}




.how-to-steps p {
    vertical-align: middle;
    font-family: "PT Sans";
    font-size: 20px;
    margin-bottom: 0;
    position: relative;
}

.how-to-steps a {
    font-family: "PT Sans";
    font-size: 16px;
    padding-left: 20px;
}

.how-to-steps:first-child p::before {
    content: "1";
    width: 20px;
    height: 20px;
    background-color: blue;
    color: white;
    display: inline-block;
    background-size: 100%;
    vertical-align: middle;
    margin-right: 29px;
    font-family: "PT Sans";
    font-size: 16px;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    left: 10px;
    top: -3px;
}

.how-to-steps:nth-child(2) p::before {
    content: "2";
    width: 20px;
    height: 20px;
    background-color: blue;
    color: white;
    border-radius: 50%;
    display: inline-block;
    background-size: 100%;
    vertical-align: middle;
    /*margin-right: 21px;*/
    font-family: "PT Sans";
    font-size: 16px;
    padding: 5px;
    position: absolute;
    left: 10px;
    top: -3px;
}

.how-to-steps:nth-child(3) p::before {
    content: "3";
    width: 20px;
    height: 20px;
    background-color: blue;
    color: white;
    border-radius: 50%;
    display: inline-block;
    background-size: 100%;
    vertical-align: middle;
    font-family: "PT Sans";
    font-size: 16px;
    position: absolute;
    left: 10px;
    top: -3px;
    /*margin: auto 0;*/
    /*right: 0px;*/
    padding: 5px;
}

.how-to-steps {
    flex-basis: 33%;
}

.how-to-steps img {
    /*padding-left: 40px;*/
    position: relative;
    z-index: 3;
}

div.unique {
    position: relative;
    vertical-align: middle;
    margin-left: 30px;
    margin-bottom: 40px;
}

div.unique::before {
    content:"";
    position: absolute;
    display: inline-block;
    width: 90px;
    height: 90px;
    border: 1px solid orange;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    vertical-align: middle;
    z-index: 1;
}

/*.unique:hover::before {

}*/

.how-to-steps:hover .unique::before {
    background-color: orange;
    transform: rotate(45deg);
    z-index: 1;
}

.how-to-steps:hover p.unique-par::before {
    background-color: orange;
}

/*Стилизация адресной секции*/
.map {
    height: 365px;
    flex-basis: 45%;
}

section.address {
    display: flex;
    justify-content: flex-start;
}

.address-container {
    margin-left: 30px;
    width: 623px;
}

.splash-address {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 35px;
}
 
.splash-address h3 {
    margin-top: 0px;
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 20px;
}

.splash-address p {
    margin-top: 0px;
    font-family: "PT Sans";
    font-size: 16px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    font-family: "PT Sans";
    font-size: 14px;
}

.info-one p:nth-child(n)::before {
    content: "";
    display: inline-block;
    background-size: 100%;
    vertical-align: middle;
    position: absolute;
    left: -50px;
}

.info-one p:first-child::before {
    width: 35px;
    height: 35px;
    background-image: url(../img/info-clock.svg);
}

.info-one p:nth-child(2)::before {
    width: 36px;
    height: 31px;
    background-image: url(../img/info-dostavka.svg);
}

.info-one p:nth-child(3)::before {
    width: 31px;
    height: 31px;
    background-image: url(../img/info-closed.svg);
    left: -45px;
}

.info-two {
    border-left: 1px solid #ffb400;
    padding-left: 28px;
}

.info-one {
    padding-right: 10px;
    flex-basis: 42%;
}

.info-one p {
    position: relative;
    margin-left: 40px;
}

.info-two p:nth-child(n+2)::before {
    content: "";
    display: inline-block;
    background-size: 100%;
    vertical-align: middle;
}

.info-two p:nth-child(2)::before {
    width: 30px;
    height: 30px;
    background-image: url(../img/info-phone.svg);
    margin-right: 9px;
}

.info-two p:nth-child(3)::before {
    width: 30px;
    height: 22px;
    background-image: url(../img/info-mail.svg);
    margin-right: 9px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 230px;
}

footer {
    background-color: #1c4366;
}

.social a:first-child {
    display: block;
    color: #fea91b;
    font-family: "PT Sans";
    font-size: 14px;
}

footer h3 {
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 20px;
    color: #ffb400;
}

.footer-nav {
    margin-right: 190px;
}

.footer-nav ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 0px;
}

.footer-nav a {
    font-family: "PT Sans";
    font-size: 16px;
    color: white;
    text-decoration: none;
    /*margin-right: 50px;*/
}

.footer-nav li {
    list-style-type: none;
    flex-basis: 45%;
    height: 25px;
}

.social img {
    margin-top: 20px;
    margin-right: 15px;
}


