@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans.woff2") format("woff2"),
         url("../fonts/PTSans.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSansBold.woff2") format("woff2"),
         url("../fonts/PTSansBold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Rubik Medium";
    src: url("../fonts/RubikMedium.woff2") format("woff2"),
         url("../fonts/RubikMedium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

header {
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url(../img/background_fish.jpg);
    background-color: transparent;
    background-repeat: no-repeat;
    height: 245px;
    background-size: cover;
}

header .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

header img {
    margin-top: 14px;
}

.main-nav ul {
    padding-left: 0px;
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
}

.main-nav li {
    list-style-type: none;
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.main-nav li a, .bin-empty {
    text-decoration: none;
    color: white;
}

.bin-empty {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin-left: 222px;
    margin-bottom: 20px;
    background: url(../img/bin_empty.svg) no-repeat left top;
    background-size: 20px;
    padding-left: 28px;
    padding-top: 4px;
}

a.call {
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 20px;
    color: white;
    padding-left: 110px;
}

.main-nav ul li:first-child {
    padding-left: 7px;
}

.main-nav ul li:nth-child(2) {
    margin-left: 90px;
    margin-right: 90px;
}

/*Данный отступ с правого края почему-то не работает, хм. С левого края все ОК*/
.main-nav ul li:nth-child(3) {
    padding-right: 7px;
}

.main-nav {
    margin-left: 127px;
    border-bottom: 2px solid #f7a000;
    width: 370px;
}

/*СТИЛИЗАЦИЯ ФОРМ*/

form {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    height: 320px;
}

main {
    background-color: grey;
    height: 347px;
}

.form-group:first-child {
    border-right: 1px solid grey;
    flex-basis: 40%;
}

.form-group:nth-child(2) {
    flex-basis: 28%;
}

.form-group:nth-child(3) {
    border-left: 1px solid grey;
    flex-basis: 32%;
}

.left-input {
    padding-left: 90px;
    padding-right: 28px;
}

.center-input {
    padding-left: 25px;
    padding-right: 25px;
}

.right-input {
    padding-left: 25px;
    padding-right: 94px;
}

label, .input-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-header p {
    font-family: "PT Sans";
    font-size: 14px;
    color: #7b7b7b;
}

.left-input span {
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 16px;
}

.center-input span {
    font-family: "PT Sans";
    font-size: 16px;
}

.right-input span {
    font-family: "PT Sans";
    font-size: 16px;
}

.form-absolute-container {
    position: absolute;
    top: 145px;
    width: 1170px;
}

.form-absolute-container h2 {
    margin-top: 0px;
    margin-left: 90px;
    color: white;
}

.center-input.top {
    margin-top: 44px;
}

.right-input.top {
    margin-top: 44px;
}

.fio {
    width: 165px;
    height: 30px;
}

select {
    width: 127px;
    text-align: center;
    font-family: "PT Sans";
    font-size: 14px;
    color: #949494;
    padding-left: 15px;
    height: 30px;
}

.number-input {
    font-family: "PT Sans";
    font-size: 14px;
    width: 50px;
    padding-left: 15px;
    height: 30px;
}

.submit-button {
    background-color: #226298;
    color: white;
    width: 168px;
    height: 46px;
    margin-top: 50px;
    margin-left: 110px;
}

/*СТИЛИЗАЦИЯ ФУТЕРА*/

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 230px;
}

footer {
    background-color: #1c4366;
}

.social a:first-child {
    display: block;
    color: #fea91b;
    font-family: "PT Sans";
    font-size: 14px;
}

footer h3 {
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 20px;
    color: #ffb400;
}

.footer-nav {
    margin-right: 190px;
}

.footer-nav ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 0px;
}

.footer-nav a {
    font-family: "PT Sans";
    font-size: 16px;
    color: white;
    text-decoration: none;
    /*margin-right: 50px;*/
}

.footer-nav li {
    list-style-type: none;
    flex-basis: 45%;
    height: 25px;
}

.social img {
    margin-top: 20px;
    margin-right: 15px;
}


